:root {
    --primary-orange: #f68c32;
    --primary-blue: #7cd3f6;  
    --primary-green: #c3c978;
    --primary-pink: #ffdae0; 
    --primary-brown: #5d4037; 
    --primary-yellow: #fff2cc; 
    --primary-red: #ee877e;
    --light-yellow: #fef9f5;
    --light-blue: #d6eaff;
    --light-orange: #fcc99e; 
    --light-green: #e9fbef;


    --light-pink: #ff99c8;
    --pale-yellow:   /* ✅ */
    --border-color: #bcdffc; 
    --primary-purple: #B647E7; /* ✅ */
}


body {
    margin: 0;
    background: var(--light-blue);
    color: var(--primary-brown);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    font-family: "Huninn", "Comic Sans MS";
    box-sizing: border-box;
    
}

.container {
    padding: 20px;
    margin: 20px 30px 40px 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 3px solid var(--light-blue);
}


/* buttons */
button {
    border: none;
    padding: 0.5em 1em;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;

}


/* layout */
/* 1. header */
header {
    display: flex;
    align-items: center;
    background: var(--light-orange)
}

.header-box {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 50px;
}

.profile-avatar {
    width: 88px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.fa-bars {
    margin-left: auto; 
}


ul {
    list-style: none; 
    display: flex;
    gap: 10px;
    justify-content: center;
}



/* 2. Sub navigation */
.unit-nav {
    background: var(--primary-green)
}

.mode-nav {
    background: var(--light-orange)
}

/* 3. Setting */
.settings {
    background: var(--primary-green)
}


/* 3. main image */
.img-container {
    margin: 30px 30px 10px 30px;
    position: relative; 
}

.page-image {
    width: 100%;
    border-radius: 20px;
}

.hotmap-layer {
    position: absolute;
    inset: 0; 
}

.hotspot {
    position: absolute;
    cursor: pointer;
}


.hotspot:hover, .hotspot:focus {
    border: 2px dashed var(--primary-orange);
}

.tranlation-layer {
    position: absolute;
    background: white;
    border: 3px solid var(--primary-pink);
    border-radius: 10px; 
    padding: 0.5em 1em; 

}

/* 4. page selector */
.controls {
    margin: 0 30px;
}

.page-control {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1em; 
}

.page-control button {
    background: var(--primary-pink); 
    border: 3px solid #fff; 
    color: #d84315; 
    border-radius: 25px; 
}

.prev-page-btn {
    background: var(--light-orange);
}

.next-page-btn {
    background: var(--primary-red);
}

.page-indicator {
    background:  var(--primary-yellow); 
    padding: 0.5em 1em; 
    border-radius: 20px; 
    color: #f9a825; 
    border: 3px solid #fff; 
}

.page-indicator i {
    display: inline;
}


/* 5. voice-settings */

.voice-controls {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.voice-select {
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid var(--primary-blue);
    background-color: white;
    font-size: 1rem;
    color: var(--primary-black);
}


/* footer */
footer {
    margin-bottom: 30px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}